.listinteractive-listinteractive {
  padding-block-start: var(--padding-block-start);
  margin-block-start: var(--margin-block-start);
  padding-block-end: var(--padding-block-end);
  margin-block-end: var(--margin-block-end);
  background-color: #fff;
  position: relative;
  padding-top: 7rem; /* Equivalent to 112px assuming 16px base */
}
.listinteractive-listinteractive-scarp-wrapper {
  margin-top: 12.5rem; /* Equivalent to 200px assuming 16px base */
}
.listinteractive-background {
  container-type: size;
  position: absolute;
  inset: 0;
  background: radial-gradient(75.73% 47.45% at 0 -0.26%, transparent 0, rgba(197, 215, 206, 0.2) 100%), radial-gradient(51.83% 92.71% at 75.18% 24.92%, hsla(0, 0%, 100%, 0.7) 0, hsla(0, 0%, 100%, 0) 100%), linear-gradient(180deg, #cbf9e3 100%, #e5fcf1 0, #fff 0), #fff;
}
.listinteractive-scarp {
  block-size: auto;
  inline-size: 26.25rem; /* Equivalent to 420px assuming 16px base */
  max-inline-size: 26.25rem; /* Equivalent to 420px assuming 16px base */
  --a3-background: transparent;
  position: absolute;
  inset-inline-start: 0;
  transform: translateY(-32%) rotate(0deg);
}
.listinteractive-scarp[dir='rtl'] {
  inset-inline-start: 0;
  transform: translateY(-32%) rotate(0deg) scaleX(-1);
}
.listinteractive-title {
  padding-inline-end: calc((((min(100vw - var(--scrollbar-width, 0), var(--grid-max-width)) - (var(--grid-padding) * 2) - var(--grid-gap) * (var(--grid-columns) - 1)) / var(--grid-columns)) * 2) + (var(--grid-gap) * 1));
}
.listinteractive-call-to-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  gap: 0.5rem; /* Equivalent to 8px assuming 16px base */
}
.listinteractive-item {
  grid-column: auto/span 4;
}
.listinteractive-load-more-wrapper {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 2.5rem; /* Equivalent to 40px assuming 16px base */
}
@media (max-width: 479px) {
  .listinteractive-listinteractive-scarp-wrapper {
    margin-top: -1.375rem; /* Equivalent to -22px assuming 16px base */
  }
}
@media (min-width: 481px) {
  .listinteractive-listinteractive-scarp-wrapper {
    margin-top: 7rem; /* Equivalent to 112px assuming 16px base */
  }
}
@media (min-width: 768px) {
  .listinteractive-listinteractive-scarp-wrapper {
    margin-top: 10rem; /* Equivalent to 160px assuming 16px base */
  }
}
@media (min-width: 834px) {
  .listinteractive-title {
    padding-inline-end: 0;
  }
  .listinteractive-call-to-actions {
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .listinteractive-item {
    grid-column: auto/span 6;
  }
}
@media (min-width: 1024px) {
  .listinteractive-call-to-actions {
    flex-direction: row;
  }
  .listinteractive-item {
    grid-column: auto/span 4;
  }
}
@media (max-width: 833px) {
  .listinteractive-listinteractive {
    padding-top: 6rem; /* Equivalent to 96px assuming 16px base */
  }
}
